Set up:

Create a folder on your computer where you will create your coding warm ups using the terminal window.

Open a new jupyter notebook in that folder.

Complete this assignment in that jupyter notebook and save to your computer.

    Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)
    Example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}

    Delete one object from the dictionary

    Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
    Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}

    Write a for loop that goes through all records in the dictionary, and assigns the float numbers into one merged list (see ages)
    ages = [23.4, 22.9, 552.9]

BONUS

Calculate with a for loop the median and mean of the ages list

In [8]:
l1 = [40.0,"Marley"]
l2 = [55.1, "Murray"]
l3 = [27.2, "Morrison"]
l4 = [27.1, "Cobain"]
l5 = [27.2, "Hendrix"]

In [15]:
dicty = {"Bob": l1, "Bill": l2, "Jim": l3, "Kurt": l4, "Jimmy": l5}

In [24]:
del dicty["Bob"]

In [27]:
dicty

{'Bill': [55.1, 'Murray'],
 'Jim': [27.2, 'Morrison'],
 'Kurt': [27.1, 'Cobain'],
 'Jimmy': [27.2, 'Hendrix']}

In [29]:
dicty["Bill"][0] = 99.3

In [30]:
dicty

{'Bill': [99.3, 'Murray'],
 'Jim': [27.2, 'Morrison'],
 'Kurt': [27.1, 'Cobain'],
 'Jimmy': [27.2, 'Hendrix']}

In [31]:
ages = []
for k in dicty:
    ages.append(dicty[k][0])

In [32]:
ages

[99.3, 27.2, 27.1, 27.2]